* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-element {

    margin: 10px;
    width: 80%;

}

.login-form {
    margin: 30px;
    padding: 10px;
    width: 200px;
    border: 3px solid gray;
    border-radius: 20px;
}

.form-element input {
    border: none;
    border-bottom: 2px solid rgb(60, 60, 205);
}

.form-element input {
    border: none;
    border-bottom: 2px solid rgb(60, 60, 205);

}

.form-element button {
    background-color: rgb(60, 60, 205);
    color: white;
    padding: 5px 50px;
    border-radius: 20px;
}

.form-element p {
    background-color: white;
    text-align: center;
}

.form-element h1 {
    color: white;

}

.create-account {
    background-color: rgb(60, 60, 205);
    margin: 30px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
}

.form-element input {
    color: white;
    border: none;
    border-bottom: 2px solid rgb(60, 60, 205);
}

input[type="email"]{
    background-color:rgb(60, 60, 205);
    padding: 5px;
    background-color: white;
 
}